USE [master]
GO
/****** Object:  Database [OGRENCI]    Script Date: 05/29/2014 00:10:14 ******/
CREATE DATABASE [OGRENCI] ON  PRIMARY 
( NAME = N'OGRENCI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\OGRENCI.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OGRENCI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\OGRENCI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OGRENCI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OGRENCI]
GO
/****** Object:  Table [dbo].[OgretimUyeleri]    Script Date: 05/29/2014 00:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretimUyeleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SicilNo] [nvarchar](50) NOT NULL,
	[Isim] [nvarchar](50) NOT NULL,
	[Soyisim] [nvarchar](50) NOT NULL,
	[BolumKod] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_OgretimUyeleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 05/29/2014 00:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[TcKimlik] [int] NOT NULL,
	[Isim] [nvarchar](50) NOT NULL,
	[Soyisim] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[OgrenciNo] [int] NOT NULL,
	[Resim] [binary](8000) NOT NULL,
	[DurumId] [int] NOT NULL,
	[Bolum1] [nvarchar](50) NOT NULL,
	[Bolum2] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OgrenciBolum]    Script Date: 05/29/2014 00:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciBolum](
	[OgrenciNo] [nvarchar](9) NOT NULL,
	[TcNo] [int] NOT NULL,
	[BolumKod] [nvarchar](2) NOT NULL,
	[DurumId] [int] NOT NULL,
 CONSTRAINT [PK_OgrenciBolum] PRIMARY KEY CLUSTERED 
(
	[OgrenciNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notlar]    Script Date: 05/29/2014 00:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notlar](
	[OgrenciNo] [nvarchar](9) NOT NULL,
	[DersKodu] [nvarchar](50) NOT NULL,
	[Vize] [int] NOT NULL,
	[Final] [int] NOT NULL,
	[Ortalama] [int] NOT NULL,
 CONSTRAINT [PK_Notlar] PRIMARY KEY CLUSTERED 
(
	[OgrenciNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Durumlar]    Script Date: 05/29/2014 00:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Durumlar](
	[DurumId] [int] IDENTITY(1,1) NOT NULL,
	[DurumAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Durumlar] PRIMARY KEY CLUSTERED 
(
	[DurumId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Durumlar] ON
INSERT [dbo].[Durumlar] ([DurumId], [DurumAdi]) VALUES (3, N'YATAY GEÇİŞ')
INSERT [dbo].[Durumlar] ([DurumId], [DurumAdi]) VALUES (4, N'DİKEY GEÇİŞ')
INSERT [dbo].[Durumlar] ([DurumId], [DurumAdi]) VALUES (5, N'ÇAP')
SET IDENTITY_INSERT [dbo].[Durumlar] OFF
/****** Object:  Table [dbo].[Dersler]    Script Date: 05/29/2014 00:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nvarchar](50) NULL,
	[DersAdi] [nvarchar](50) NULL,
	[BolumAdi] [nvarchar](50) NULL,
	[SicilNo] [int] NULL,
	[Kredi] [int] NULL,
	[Kacinci] [int] NULL,
 CONSTRAINT [PK_Dersler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 05/29/2014 00:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BolumKod] [nvarchar](2) NOT NULL,
	[BolumAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bolumler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bolumler] ON
INSERT [dbo].[Bolumler] ([Id], [BolumKod], [BolumAdi]) VALUES (8, N'B1', N'Bilgisayar Mühendisliği')
INSERT [dbo].[Bolumler] ([Id], [BolumKod], [BolumAdi]) VALUES (9, N'B2', N'Elektrik Mühendisliği')
INSERT [dbo].[Bolumler] ([Id], [BolumKod], [BolumAdi]) VALUES (10, N'B3', N'Kimya Mühendisliği')
SET IDENTITY_INSERT [dbo].[Bolumler] OFF
